@import url('https://fonts.googleapis.com/css?family=Cuprum:400,700');

body {
  height: 100%;
  background-color :#eee !important;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

/* General Layout */
.wxd-main-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.wxd-body-container {
  flex: 1;
}

/* NavBar */
.navbar, .navbar-brand {
  padding: 0px !important;
}
.navbar a {
  font-family: 'Cuprum', sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  color: #115e86;
  margin-left: 20px;
}

/* SearchBar */
.wxd-search-bar-container {
  margin-top: -10px;
  background-color: #d0d7df;
  padding: 20px 50px 20px 50px;
}
.search-bar {
  margin-right: 10px;
}
.search-bar:hover, .search-bar:focus {
  -moz-box-shadow:    0px 1px 2px 1px #bbb;
  -webkit-box-shadow: 0px 1px 2px 1px #bbb;
  box-shadow:         0px 1px 2px 1px #bbb;
}
.decode-button {
  background-color: #348dc1;
  color: #dcefff;
  font-family: 'Cuprum', sans-serif;
  font-size: 20px !important;
}
input, button {
  /* Bootstrap overrides */
  border-radius: 0 !important;
}

/* MetarList */
.wxd-metar-list-container {
  padding-top: 10px;
}

/* PageFooter */
.wxd-footer {
  height: 80px;
  margin-top: 20px;
  background-color: #d0d7df;
}
.footer-text {
  color: #666;
  font-family: 'Cuprum', sans-serif;
  margin: 10px 20px 0 10px;
}
