body {
  background-color :#eee !important;
  margin: 0;
  padding: 0;
}

.navbar, .navbar-brand {
  padding: 0px !important;
}

.navbar a {
  margin-left: 20px;
}

.navbar .active a {
  color: #999;
}
