@import url('https://fonts.googleapis.com/css?family=Cuprum:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

body {
  height: 100%;
  background-color :#eee !important;
  font-size: 100%;
  margin: 0;
  padding: 0;
}
a:hover, button:hover {
  cursor: pointer;
}

/* General Layout */
.wxd-main-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.wxd-body-container {
  flex: 1;
}

/* NavBar */
.navbar, .navbar-brand {
  padding: 0px !important;
}
.navbar a {
  font-family: 'Cuprum', sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  color: #115e86;
  margin-left: 20px;
}

/* SearchBar */
.wxd-search-bar-container {
  margin-top: -10px;
  background-color: #d0d7df;
  padding: 20px 50px 20px 50px;
}
.search-bar {
  margin-right: 10px;
  font-family: Verdana, sans-serif;
  text-transform: uppercase;
}
.search-bar:hover, .search-bar:focus {
  -moz-box-shadow:    0px 1px 2px 1px #bbb;
  -webkit-box-shadow: 0px 1px 2px 1px #bbb;
  box-shadow:         0px 1px 2px 1px #bbb;
}
.decode-button {
  background-color: #348dc1;
  color: #dcefff;
  font-family: 'Cuprum', sans-serif;
  font-size: 20px !important;
}
input, button {
  /* Bootstrap overrides */
  border-radius: 0 !important;
}

/* MetarList */
.wxd-page-header {
  font-family: 'Cuprum', sans-serif;
  font-size: 1.6em;
  color: #115e86;
  padding: 20px 0 0 20px;
}
.get-started-text {
  font-family: 'Open Sans', sans-serif;
  color: #666;
  padding: 10px 0 0 20px;
}
.wxd-metar-list-container {
  padding: 0px 20px 0 20px;
}
.collapsible-heading {
  font-family: 'Roboto Mono', monospace;
  color: #666;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: block;
  position: relative;
  padding: 6px 0 6px 0;
  margin-top: 10px;
}
.collapsible-heading:hover {
  cursor: pointer;
}
.Collapsible__trigger:before {
  font-family: 'FontAwesome';
  content: '\f107';
  transition: transform 200ms;
  float: left;
  margin: 0 10px 0 10px;
  transform: rotateZ(-90deg);
}
.Collapsible__trigger.is-open:before {
  transform: rotateZ(0deg);
}

.metar-detail-text {
  color: #666;
  font-family: Verdana, sans-serif;
  font-size: 0.8em;
  line-height: 1.8em;
  margin: 6px 0 0 20px;
}
.detail-val {
  color: #555;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  line-height: 1.8em;
}
.detail-val:first-letter {
  text-transform: capitalize;
}
.detail-val-remarks {
  line-height: 1.4em;
  padding-top: 0.4em;
}
.detail-tooltip {
  max-width: 400px;
  font-size: 0.7em !important;
  font-family: 'Open Sans', sans-serif !important;
}
a:link .detail-tooltip {
  color: #fff !important;
}
.detail-info-icon {
  padding-left: 5px;
  color: #4a5;
  font-size: 1.1em !important;
}

/* Contact Page */
.contact-text {
  color: #666;
  font-family: 'Open Sans', sans-serif;
  padding: 20px 0 0 30px;
}
/* PageFooter */
.wxd-footer {
  height: 80px;
  margin-top: 20px;
  background-color: #d0d7df;
}
.footer-text {
  color: #666;
  font-family: 'Cuprum', sans-serif;
  margin: 10px 20px 0 10px;
}
